<div class="container-fluid header">
    <header class="d-flex flex-wrap justify-content-between py-3  border-bottom ">
        <a href="/homepage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="logo me-3" src="/images/train.png" alt="logo"><span class="fs-4"><span class="fs-4">Ticketac</span>

        </a>
        <ul class="nav nav-pills me-5">
            <li class="nav-item"><a href="/users/logout" class="nav-link fw-bold text-danger">Deconnexion</a></li>
            <li class="nav-item"><a href="/lasttrip" class="nav-link fw-bold text-secondary">My last trips</a></li>
        </ul>
    </header>
</div>
