body {
	margin: 0;
	padding: 0;
	background: rgb(9, 9, 121);
	background: linear-gradient(
		180deg,
		rgba(9, 9, 121, 0.1825105042016807) 35%,
		rgba(0, 155, 255, 1) 100%
	);
	width: 100%;
}

.header {
	background: white;
	width: 100vw !important;
}

.logo {
	height: 40px;
}

.main-section,
.homepage-section {
	height: 100vh;
	margin-top: 90px;
}

img.landmark {
	max-height: 350px;
	width: auto;
	margin-top: 100px;
}
